configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    kb-remove-to-eol: "Control+Delete";
    kb-accept-entry: "Control+m,Return,KP_Enter";
    kb-row-up: "Up,Alt+k,ISO_Left_Tab";
    kb-row-down: "Down,Alt+j";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
@theme "onedark.rasi"
* {
  width: 512px;
}
