[user]
name = Mantas
email = sirexas@gmail.com

[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = auto

[status]
relativePaths = true

[alias]
glog = log --graph
st = status
ci = commit
co = checkout

[core]
pager = less -FSRX
