*.pyc
/.config/nvim/autoload/plug.vim.old
/.config/nvim/plugged/
/.config/nvim-old/plugged/
/.config/nvim-old/plugin/
/.debris/
/.jupyter/lab/workspaces/
/.jupyter/migrated
/.idea/
.config/yazi/plugins/
dms/plugins/.repos/0026f1eba8dedaec
yazi/plugins
