[user]
name = Mantas
email = sirexas@gmail.com

[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = auto

[status]
relativePaths = true

[alias]
glog = log --graph
st = status
ci = commit
co = checkout
br = branch

[core]
pager = less -FSRX

[push]
default = current

[pager]
stash = false
[pull]
	rebase = true
