#include "/home/sirex/.xrdb/look-zenburn.xrdb"
#include "/home/sirex/.xrdb/urxvt.xrdb"

xterm*geometry:94x38
xterm*termName: xterm-color

xterm*font:  -*-terminus-medium-r-*--14-*-*-*-*-*-iso10646-*
xterm*faceName: terminus:pixelsize=14

xterm*cursorColor: yellow

xterm*scrollTtyKeypress:  true
xterm*scrollTtyOutput:    false
xterm*scrollBar:          true
xterm*rightScrollBar:     true
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            false
xterm*saveLines:          2000

! Double clicks selection
XTerm.VT100.charClass: 33:48,35-38:48,43:48,45-47:48,63-64:48,126:48,58:48,61:48

! This is to work Alt+* keys
xterm*eightBitInput: false

