snippet comment
	{% comment %}${1}{% endcomment %}
snippet trans
	{% trans "${1}" %}
snippet btrans
	{% blocktrans %}${1}{% endblocktrans %}
snippet blocktrans
	{% blocktrans %}${1}{% endblocktrans %}
snippet url
	{% url ${1} %}
